<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">User</h1>
    <hr>
<h1>AMOUNT ADDED SUCCESSFULLy</h1>
    <a class="btn btn-primary btn-lg" href="/add" role="button">Add Another</a>
    <a class="btn  btn-primary btn-lg" href="/cashierhome" role="button">Back</a> 
  </div>
</div>

<%- include('partials/footer') %>