<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-user-tie fa-6x"></i>



    <h2 class="display-3">Admin</h2>
    <hr>
    <a class="btn  btn-primary btn-lg" href="/fines" role="button">ViewAll</a>
    <a class="btn  btn-primary btn-lg" href="/viewone" role="button">ViewOne</a>
    <a class="btn  btn-primary btn-lg" href="/update" role="button">update Amount</a>
  </div>
</div>

<%- include('partials/footer') %>