<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-user-tie fa-6x"></i>

    <h2 class="display-3">Admin</h2>
    <p class="lead"><h1>Register successfull</h1></p>
    <hr>
    <a class="btn  btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>