
  <%- include('partials/header') %>

<div class="jumbotron centered" id="home">
  <div class="container">
    <h1 class="display-3"><br>Food Court Management System</h1>
    <hr>
  
    <a class="btn btn-primary btn-lg btn-block"id="a"  href="/cashier" role="button">Cashier</a><br/>
    <a class="btn btn-primary btn-lg btn-block" id="a" href="/adminlogin" role="button">Admin</a><br/>
    <a class="btn btn-primary btn-lg btn-block" id="a" href="/user" role="button">Customer</a> 
  </div>
</div>

<%- include('partials/footer') %>


