<link rel="stylesheet" href="paymentstudent.css">
<div class="box">
<body><div class="container mt-5">
    <h1>Thank You <%= payment.name %></h1>
    <h2>You Paid  successfully</h2>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3>Biller Details</h3>
            <p>Name: <%= payment.name %></p>
            <p>Amount: <%= payment.amount %></p>
            <p>Date of Payment:<%= payment.date %></p>
            <h2>You Paid  successfully</h2>

            </body>
          </div>
