<%- include('partials/header') %>
      <div id="one" >
        
          <!-- Makes POST request to /login route -->
          <form action="/onestudent" method="post">
            <center><h1>Order filter</h1></center>
            <div class="form-group" style="width: max-content;margin: 10% auto;">
              <ion-icon name="mail-outline"></ion-icon>
              <input type="text" name="reg" required>
              <label for="">Order ID</label><br>
              <button type="submit">view Particular Order</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <%- include('partials/footer') %>