<!DOCTYPE html>
<html>
  <head>
    <title>Data View</title>
  </head>
  <body>
    <h1>Data View</h1>
    <% if (data) { %>
      <p>ID: <%= data._id %></p>
      <!-- Add other data fields here -->
    <% } else { %>
      <p>Data not found.</p>
    <% } %>
  </body>
</html>
